.sec .secTop, .secBottom {
  text-align: center;
  width: 100%;
  height: 48%;
}
.alignSec .sec .secTop h3,.secBottom h3{
  color: #fff;
  text-shadow: rgb(98, 98, 98) 5px 0 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: normal !important;
}
.alignSec .sec .secTop .divA,
  .secTop .divB,
  .secBottom .div1,
  .secBottom .div2,
  .secBottom .div3 {
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      box-shadow: 0px -10px 40px -17px rgba(0,0,0,0.6);
      -webkit-box-shadow: 0px -10px 40px -17px rgba(0,0,0,0.6);
      -moz-box-shadow: 0px -10px 40px -17px rgba(0,0,0,0.6);
}
.alignSec .sec .secTop .divA a,
  .secTop .divB a,
  .secBottom .div1 a,
  .secBottom .div2 a,
  .secBottom .div3 a{
    text-decoration: none !important;
  }

.alignSec .sec .secTop .divA {
  width: 50% ;
  border-top-left-radius: 3rem !important;
  padding: 5%;
  z-index: 1;
  background-color: #139656;
}
.alignSec .sec .secTop .divA .imgTR{
  position: absolute !important;
  top: 15px !important;
  right: 15px !important;
  /* background-color: #10346b; */
}
.alignSec .sec .secTop .divB {
  border-top-left-radius: 3rem !important;
  width: 62% ;
  margin-right: -14% ;
  padding: 5%;
  background-color: #22CABE;
}
.alignSec .sec .secTop .divB .imgBR {
  position: absolute !important;
  bottom: 14px !important;
  right: 28% !important;
}
.alignSec .sec .secBottom .div1 {
  width: 30% ;
  border-top-left-radius: 3rem !important;
  padding: 5%;
  z-index: 2;
  background-color: #FF794D;
}
.alignSec .sec .secBottom .div1 .imgdiv1{
  position: absolute !important;
  top: 15px;
  right: 15px;
}
.alignSec .sec .secBottom .div2 {
  width: 46% ;
  margin-right: -14% ;
  border-top-left-radius: 3rem !important;
  padding: 5%;
  z-index: 1;
  background-color: #FEB400;
}
.alignSec .sec .secBottom .div2 .imgdiv2{
  position: absolute !important;
  top: 15px;
  right: 40%;
}
.alignSec .sec .secBottom .div3 {
  width: 50% ;
  margin-right: -14% ;
  padding: 5%;
  background-color: #CEBB97;
}
.alignSec .sec .secBottom .div3 .imgdiv3{
  position: absolute !important;
  top: 15px;
  left: 15px;
}
/*=========Media============*/

@media (max-width: 480px) {
  .container .row .alignSec{
    height: 40vh !important;
    width: 95%;
    margin-bottom: 15px !important;
  }
  .container .row .alignSec .alignVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% !important;
  }
  /* .sec .secTop, .secBottom {
    text-align: center;
    width: 100%;
    height: 45%;
  } */
  .alignSec .sec .secTop .divA,
  .secTop .divB,
  .secBottom .div1,
  .secBottom .div2,
  .secBottom .div3 {
    height: 100% !important;
    font-size: 14px !important;
  }
  .alignSec .sec .secTop h3,.secBottom h3{
    font-size: 11px;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  /* .sec .secTop, .secBottom {
    text-align: center;
    width: 100%;
    height: 45%;
  } */
  .alignSec .sec .secTop .divB h3,
  .secBottom .div2 h3{
    padding-left: 25% !important;
  }
  .alignSec .sec .secTop .divA,
  .secTop .divB,
  .secBottom .div1,
  .secBottom .div2,
  .secBottom .div3 {
    height: 100% !important;
    font-size: 14px !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
  .container .row .alignSec{
    height: 543px !important;
  }
  .container .row .alignSec .alignVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% !important;
  }

}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .container .row .alignSec{
    height: 558px !important;
  }
  .container .row .alignSec .alignVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% !important;
  }

}

