.titleSecLive{
    background-color: #ff6b62;
    border-radius: 7px;
    color: #ffffff;
    padding: 2%;
    text-align: center;
}
.allLive{
    background-color: #fff0ef;
    border-radius: 7px;
    padding: 4%;
}
.playerWrapper{
    position: relative;
    /* margin-top: -45px; */
    padding-top: 56.25% ;/* Player ratio: 100 / (1280 / 720) */
    
  }
  .reactPlayer{
    position: absolute;
    top: 0%;
    left: 0;
    border-radius: 10px !important;
  }
  .reactPlay{
    position: absolute;
    top: 0%;
    left: 0;
  }
  .titleSection{
      width: auto !important;
      white-space: nowrap;
      padding: 0% 2%;
  }
  .hrLine{
    width: 80% !important;
    border: 6px solid !important;
  }
  .description{
    text-align: right;
  }

  .descVideo{
    font-size: 12px;
    color: #8f8e8e;
    text-align: right;
  }

  .secVideo{
    width: 60%;
  }
  .newWidth{
    width: 30% !important;
  }
  @media (max-width : 480px) {
    .secVideo{
      width: 92% !important;
    }
    .secLive{
      padding: 4%;
    }
  }