#bdy{
    padding-top: 120px !important;

}
.ifr{
    height: 90vh;
    width: 85%;
    margin-right: 8%;
    margin-top: 5%;
}
@media (max-width: 480px) {
    .ifr{
        height: 70vh !important;
        width: 95% !important;
    }
}
