.CommanderieCroyants {
  z-index: 13;
  position: relative;
}

.groupCard{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.CardCommanderieCroyants img {
  height: 56px;
  align-self: flex-start;
}

 .title {
  font-weight: bold;
}
.CardCommanderieCroyants{
  width: 100%;
  margin: 0px;
  flex: 2;
  display: flex;         
  flex-direction: column; 
}

.CardCommanderieCroyants .description {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin: 1.5em 0 2em 0;
  padding: 0 !important;
  max-height: 135px !important;
  /* height: 128px !important; */
}
 .description p{
  line-height: 1.6;
  /* text-align: justify !important; */
  /* text-justify: inter-word !important; */
}

 .shadowCard {
  background: #FFFFFF;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 17px !important;
}

 .shadowSm {
  border-radius: 9px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  flex-direction: row-reverse;
}

.shadowSm:hover {
  opacity: .85;
}

.shadowSm {
  width: fit-content;
}

.shadowSm i {
  margin-left: 1em;
  transform: rotate( 180deg );
}

*[dir='rtl']  .btn.shadow-sm i{
  margin-right: 1em;
  margin-left: 0;
  transform: rotate(0);
}



