.SummaryPage {
    background-color: #FAFAFA;
}

.SummaryPage .summary {
    position: relative;
    color:#000000;
    font-weight: 600;
    font-size: 18px;
    padding-right: .7em;
    list-style-type: none;
}

*[dir='ltr'] .SummaryPage .summary {
    padding-left: .7em;
}

@media screen and (max-width: 541px) {
    .SummaryPage{
        width: 100% !important;
        /* padding-left: 15% !important;
        margin-left: 10% !important; */
        margin-top: 0px !important;
        margin-right: 0px !important;
        padding-right: 0px !important;
    }
    .SummaryPage .summary {
        width: 90vw !important;
        margin-top: 0px !important;
    }
    *[dir='ltr'] .SummaryPage .summary {
        padding-left: 0em;
        width: 100% !important;
    }
}
@media screen and (max-width : 360px){
    .SummaryPage{
        width: 100vw !important;
        margin-left: 0% !important;
    }
    .SummaryPage .summary {
        width: 95vw !important;
        margin-top: 0px !important;
    }
    *[dir='ltr'] .SummaryPage .summary {
        padding-left: 0em;
        width: 95vw !important;
    }
}