.downloadApk {
    background-image: url('../../assets/Images/icons/ahadiths/icon-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    height: 20vh;
    margin-bottom: 11%;
    margin-top: 12%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.titleSec{
   text-align: right !important;
   margin-right: -65px; 
}
.download{
   margin-right: 350px; 
   margin-top: -380px ;
}

.download img{
    margin-top: 5% !important;
    margin-right: 5% !important;
}
@media screen and (min-width : 900px) and (max-width : 1200px){
    .download{
        margin-right: 350px; 
        margin-top: -300px ;
     }
     
     .download img{
         margin-top: 11px !important;
     }
}
@media screen and (min-width : 1200px) and (max-width: 1280px){
    .downloadApk {
        height: 26% !important;
    }
}
@media screen and (min-width : 1280px) and (max-width: 1370px){
    .downloadApk {
        height: 22% !important;
    }
    .download{
        margin-right: 350px; 
        margin-top: -350px !important;
     }
     
     .download img{
         margin-top: 15px !important;
     }
}
@media screen and (min-width : 1370px) and (max-width: 1450px){
    .downloadApk {
        height: 22% !important;
    }
}
@media screen and (max-width : 480px){
    .download{
        margin: 0px !important;
        padding: 8px 0% 0% 0% !important;
    }
     .titleSec{
        font-size: 15px !important;
        width: 55%;
        margin: 2% 0% 10px 0% !important;
        float: left;
    }
    .download img{
        width: 45% !important;
        height: 45% !important;
        margin-right: 70px !important;
        margin-left: 0px !important;
    }
    .downloadApk{
        margin-top: -230px !important;
        margin-right: 0px !important;
        padding: 0% !important;
        height: 22% !important;
    }
    .download img{
        margin-top: 0px !important;
    }
    .mobile .iconMobile{
        margin-right: -18px !important;
    }
}

@media screen and (max-width : 330px){
    .downloadApk{
        /* margin-top: -175px !important; */
        margin-right: 0px !important;
        /* height: 26 !important; */
    }
    .download img{
        margin-top: 0px !important;
        /* margin-right: 80px !important; */
    }
    .mobile .iconMobile{
        margin-right: -26px !important;
    }
}

@media screen and (min-width: 540px) and (max-width: 890px)  {
    .download .titleSec{
        margin-right: -100px;  
    }
    
    .downloadApk{
        margin-top: 130px !important;
        height: 22% !important;
    }
    .iconGroup{
        display: flex;
        margin-right: -100px;
    }
   
}