.SearchPage .pageTitleSecond {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.SearchPage .pageTitleSecond h3 {
    color: #656D7A;
    font-weight: 700;
    font-size: 18px;
    padding: 0;
}


.SearchPage .box-search {
    border: none;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 0 1em;
}

.SearchPage .box-search input,
.SearchPage .box-search input::placeholder {
    color: #656D7A;
}

.SearchPage .box-search .icon-filter,
.SearchPage .box-search .icon-search {
    background-color: #656D7A;
}
.SearchPage .SearchBox{
    width: 70% ;
}

.SearchPage .searchElement .boxIconSetting {
    background-color: #157646;
    border-radius: 8px;
    margin-left: 1em !important;
}

.SearchPage .searchElement .boxIconSetting .icon-setting {
    width: 42px;
    height: 42px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

.SearchPage .searchElement .boxIconSetting .icon-setting {
    -webkit-mask: url("../../assets/Images/icons/icon-setting.svg") no-repeat center;
    mask: url("../../assets/Images/icons/icon-setting.svg") no-repeat center;
}


*[dir='ltr'] .SearchPage .PageTitleSecond .title {
    padding: 0 !important;
}
.SearchPage .formSearch {
    background-color: #e9fbf1;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: .5rem !important;
}

.paginationButtons {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: right;
}

.paginationButtons a {
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    color: black;
    height: 50%;
    width: 60%;
    justify-content: center;
}

.paginationButtons a:hover {
    color: rgb(255, 255, 255);
}

.activebtn a {
    background: #157646;
    color: white;
    border-radius: 5px;
}

.paginationn {
    color: #157BFF;
    margin: 5px;

}
.prevbtn{
    color:#FF0000;
    background-color: #20c997;
}
*[dir='ltr'] .paginationButtons {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: right;
}

*[dir='ltr'] .paginationn {
    transform: rotate(180deg);
}

@media screen and (max-width: 480px) {
    .formSearch .alignIte {
        display: block !important;
    }
    .SearchPage{
        width: 100vw !important;
        padding: 0px !important;
    }
    .searchElement{
        width: 100% !important;
    }
    /* .SearchPage{
        padding: 0% !important;
    } */
    .SearchPage .searchBox{
        width: 90vw !important;
        max-width: 95vw !important;
        padding: 0px !important;
    }
    /* .formSearch{
        overflow: hidden !important;
    } */
    .paginationButtons {
        width: 100% !important;
        margin-right: -30px !important;
    }

    .paginationButtons a {
        padding: 4px !important;
        margin: 9px !important;
        height: 50%;
        width: 50%;
    }
}

@media (max-width: 375px) {
    .paginationButtons a {
        padding: 3px !important;
        margin: 6px !important;
        height: 50%;
        width: 50%;
    }
}
