.navTabs .nav-link{
    margin-bottom: -8px !important;
    border:3px solid #ccc !important;
    border-bottom: 8px solid #129D59 !important;
    border-width: 0px 0px 8px 0px !important;
    color : #656D7A !important;
    font-weight: 900 !important;
    border-top-left-radius: 4rem !important;
    border-top-right-radius: 4rem !important;
    width: 25vw !important;
    background-color: #F1F5F7 !important;
    padding: 1%;
    text-align: center !important;
}
.navTabs .active{
    border-width: 5px 0px 0px 0px !important;
    border-color: #129D59 !important;
    background-color: #129D59 !important;
    color: #fff !important;
    position: relative !important;
}


.navTabs1 .nav-link{
    margin-bottom: -8px !important;
    border:3px solid #ccc !important;
    border-bottom: 8px solid #feb80f !important;
    border-width: 0px 0px 8px 0px !important;
    color : #656D7A !important;
    font-weight: 900 !important;
    border-top-left-radius: 4rem !important;
    border-top-right-radius: 4rem !important;
    width: 25vw !important;
    background-color: #F1F5F7 !important;
    padding: 1%;
    text-align: center !important;
}
.navTabs1 .active{
    border-width: 5px 0px 0px 0px !important;
    border-color: #feb80f !important;
    background-color: #feb80f !important;
    color: #fff !important;
    position: relative !important;
}


.navTabs2 .nav-link{
    margin-bottom: -8px !important;
    border:3px solid #ccc !important;
    border-bottom: 8px solid #ff7e4c !important;
    border-width: 0px 0px 8px 0px !important;
    color : #656D7A !important;
    font-weight: 900 !important;
    border-top-left-radius: 4rem !important;
    border-top-right-radius: 4rem !important;
    width: 25vw !important;
    background-color: #F1F5F7 !important;
    padding: 1%;
    text-align: center !important;
}
.navTabs2 .active{
    border-width: 5px 0px 0px 0px !important;
    border-color: #ff7e4c !important;
    background-color: #ff7e4c !important;
    color: #fff !important;
    position: relative !important;
}

.navTabs {
    border-bottom: 8px solid #129D59 !important;
}
.navTabs1 {
    border-bottom: 8px solid #feb80f !important;
}
.navTabs2 {
    border-bottom: 8px solid #ff7e4c !important;
}

/* .Alhadiths .tabIcon {
    width: 20px;
    height: 20px;
  } */

  /* .Alhadiths .item-link .icon {
    background-image: url("../../../../assets/Images/icons/ahadiths/icon-ahadith.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 115px;
    height: 115px;
  } */

  .icon1 {
    background-image: url("../../../assets/Images/icons/ahadiths/icon_sahih.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 170px;
    box-shadow: none !important;
  }
  .icon2 {
    background-image: url("../../../assets/Images/icons/ahadiths/icon_daiifa.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 170px;
  }
  .icon3 {
    background-image: url("../../../assets/Images/icons/ahadiths/icon_mawdoua.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 170px;
  }

  .Alhadiths .itemLink .tabIcon p {
    font-size: 15px;
    /* font-family: Font_Maghribi; */
    width: 40%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-right: 12%;
    font-weight: bold;
  }

  .Alhadiths .itemLink:hover .icon{
    background-image: url("../../../assets/Images/icons/ahadiths/icon_sahih.png");
  }

  .Alhadiths .itemLink .icon img{
    width: 32px;
  }

  .Alhadiths .itemLink p{
    font-size: 13px;
  }

  .Alhadiths .slick-slider .slick-dots {
    justify-content: center;
  }
  @media (max-width: 770px) {
    .navTabs .nav-link{
      padding: 4%  !important;
    }
}
  @media only screen and (min-width: 500px) and (max-width: 900px) {
    .navTabs .nav-link{
      padding: 1% 2.5% !important;
    }
  }
  @media (max-width: 480px) {
    .Alhadiths .container {
      padding-top: 2em;
      padding-bottom: 2em;
    }
    .Alhadiths .slick-next{
      display: none !important;
    }
    .Alhadiths .itemLink .icon {
      width: 80px;
      height: 80px;
    }
    .Alhadiths .itemLink .icon img {
      width: 22px;
    }
    .Alhadiths a.itemLink {
      margin: 10px !important;
    }
    /* .navTabs .nav-link{
      width: 32% !important;
    } */


  }
