.Resources .content{
    margin-left: 15em !important;
}
.Resources .slick-slider{
    padding-right: 0;
}

.itemCard .boxImg {
    width: 188px;
    height: 200px;
}

.itemCard .boxImg img{
    width: 100%;
    height: 100%;
}

.itemCard .title {
    color : #4D533C
}

.itemCard .desc {
    font-size: 14px;
    color : rgba(33, 56, 66, 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: .5em 0;
    padding: 0 !important;
    min-height: 115px !important;
}
.itemCard .desc p{
    text-align: justify !important;
    text-justify: inter-word !important;
}

.Resources .shadow-card {
    background: #FFFFFF;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 17px !important;
}


.Resources .btn.action:hover {
    opacity: .85;
}

.Resources .btn.action {
    border-radius: 9px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    width: fit-content;
    flex-direction: row-reverse !important;
}

*[dir='rtl']  .Resources .btn.action {
    width: fit-content;
    flex-direction: row;
}

.Resources .btn.action i {
    margin-left: 2em;
    transform: rotate( 180deg );
}

*[dir='rtl'] .Resources .btn.action i {
    margin-right: 2em;
    margin-left: 0;
    transform: rotate(0);
}

.card{
    text-align: center;
    border-radius: 9px;
    width: 90px;
}


.btnM{
    background-color: #129D59;
    width: 10vw;
    border: none;
    border-radius: 4px;
    color: white;
}
.btnM i{
    margin-right: 20%;
    font-size: 0.9rem;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5rem 0;
    color: #129D59;
}


/* Style for viewports greater than 480px wide. */
@media (max-width: 480px) {
    .itemCard  {
        width: 282px;
        height: 450px;
    }
    .itemCard .desc{
        min-height: 94px !important;
        height: 100;
        line-height: 5px;
    }
    .itemCard .boxImg {
        width: 130px;
        height: 130px;
    }
    .Resources .btn.action p{
        font-size: 14px;
    }

    .Resources .btn.action i {
        margin-left: 1em;
    }

    *[dir='rtl'] .Resources .btn.action i {
        margin-right: 1em;
        margin-left: 0;
    }
}
@media (max-width: 1200px) {
    .itemCard .desc {
        min-height: 93px !important;
    }
    .Resources .content{
        width: 100% !important;
    }
}

/* @media (max-width: 771px) {
  .card{
      text-align: center;
      border-radius: 9px;
      width: 35vw;
  }

}



@media (max-width: 495px) {
  .card{
      text-align: center;
      border-radius: 9px;
      width: 30vw;
  }
  .btnM{
      width: 11vw;
  }
}
@media (max-width: 426px) {
  .card{
      text-align: center;
      border-radius: 9px;
      width: 50vw;
  }
  .btnM{
      width: 20vw;
  }
}

@media (max-width: 746px) {
  .btnM{
      width: 20vw;
  }
}
@media (max-width: 374px) {
  .btnM{
      width: 30vw;
  }
} */
