.bgd{
    background-color: #badbcb;
}
.badge{
    font-size: 14px !important;
    padding: 0.4em 1.2em !important;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
}

/* @media screen and (min-width: 240px) and (max-width: 540px)  {
    .badge{
        margin-top: 1em !important;
        margin-bottom: 1em !important;
    }
} */