.NavBar .bgGradientGreen {
    background: linear-gradient(
            330deg,
            rgba(23, 108, 66, 1) 0%,
            rgba(14, 65, 40, 1) 100%
    );
}
.show {
    display: block;
  }

.menuLinks{
    font-weight: bold;
    font-size: 18px !important;
}
.NavBar .bgGradientGreen:hover {
    opacity: 0.9;
}

.menuBlog{
    height: 100px !important;
  }
  .menuAl{
    height: 68px;
  }

.NavBar .iconBox {
    width: 34px;
    height: 34px;

    background: #f5f6f7;
}

.NavBar a {
    color: #000000 !important;
    text-decoration: none;
    position: relative;
}

#navbarNav > ul > li > a.navBarActive:after {
    content: "";
    background: #FEB400;
    color: transparent;
    width: 100%;
    border-radius: 10px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
}

#navbarNav .dropdown > a > i {
    margin-left: .5rem !important;
}

*[dir='rtl'] #navbarNav .dropdown > a > i {
    margin-left: 0 !important;
    margin-right: .5rem !important;
}

.NavBar .navItem .dropdownToggle {
    margin-right: 5px;
    color: #000000;
}

/*ion-icon {
  color: red;
}*/

.NavBar .navItem a:hover {
    opacity: 0.8;
}

.NavBar .navbarNav .callToAction {
    height: 46px;
    padding: 0 1.5em;
    margin: 0 5em;
    background: rgba(255, 255, 255, 0.21);
    border: 1px solid #ffffff;
    border-radius: 32px;
}

.NavBar .callToAction:hover {
    background: rgba(255, 255, 255, 0.11);
    cursor: pointer;
}

.NavBar .callToAction:hover a {
    opacity: 1;
}

.NavBar .dropdownToggle::after {
    content: none;
}

#navbarNav {
    max-width: 70%;
    overflow-x: clip;
    /* max-width: 67%; */
}

.NavBar .navbarNav .dropdownMenu {
    border: 0;
    /* box-shadow: 1px 1px 14px -6px rgb(171 171 171 / 61%);
    -webkit-box-shadow: 1px 1px 11px 1px rgb(171 171 171 / 21%);
    -moz-box-shadow: 1px 1px 14px -6px rgba(171, 171, 171, 0.61); */
}

*[dir='rtl'] .NavBar .dropdownMenu[data-bs-popper] {
    text-align: right;
}

.NavBar .dropdownMenu[data-bs-popper] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-top: 0;
    padding: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(251, 191, 49, 0.11);
}

.NavBar .menuBtn {
    min-width: 100px;
    width: 100px;
    
}
.dropdownMenu{
    width: auto !important;
    margin-right: 15px !important;
}
.listMenu{
    width: 25vw !important;
}
/**[dir='rtl'] .NavBar .dropdownMenu[data-bs-popper] {
  left: 0;
}*/
/*_______________ styles dropdown____________________*/
/* .p3 {
    padding: 0.4rem 1rem !important;
    text-align: right;
    display: inline-block;
} */
.listMenu li{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}
/* .contentDropdown{
    position: fixed !important;
} */
.btnFaq {
    /*min-width: 270px !important;*/
}

.btnFaq img {
    width: 50px;
}

.btnFaq:hover {
    background-color: #ebaa05 !important;
}

#clickable:hover {
    cursor: default;
}

.globalMenu {
    z-index: 99;
    left: 100px; /*  18px  */
    right: 0; /* 118px */
    top: 0; /* 62px */
    border-top: 6px solid #feb400;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .4s;
}

*[dir='rtl'] .globalMenu {
    left: 0;
    right: 100px
}

.globalMenuHide {
    visibility: hidden;
    opacity: 0;
}

.globalMenuShow {
    visibility: visible;
    opacity: 1;
}

.globalMenu .navItem .titleLink {
    padding-left: 10px !important;
    position: relative;
    margin-bottom: 10px;
    font-size: 16px;
}

*[dir='rtl'] .globalMenu .navItem .titleLink {
    padding-right: 10px !important;
}

.globalMenu .navItem .titleLink:hover {
    /* color: #feb400 !important; */
}

.globalMenu .navItem .titleLink:after {
    content: "";
    /* width: 5px;
    height: 36px; */
    width: 5px;
    height: 35px;
    position: absolute;
    background-color: #139c58;
    left: -5px;
    top: -6px;
    border-radius: 6px;
}

*[dir='rtl'] .globalMenu .navItem .titleLink:after {
    right: -5px;
}

.globalMenu .navItem .listItems {
    padding-left: 10px !important;
}

*[dir='rtl'] .globalMenu .navItem .listItems {
    padding-right: 10px !important;
}

.globalMenu .navItem .listItems li {
    text-align: left;
    font-size: 14px;
    transition: all .3s;
}


*[dir='rtl'] .globalMenu .navItem .listItems li {
    text-align: right;
}

.globalMenu .navItem .listItems li:hover {
    padding-right: 6px !important;
}

.globalMenu .socialMedia {
    background: transparent !important;
    padding: .5em 1.5em 0 1.5em !important;
    margin: 0 !important;
    width: 100%;
    justify-content: start !important;
    border-top: 2px solid #feb400;
    border-radius: 0;
}

.globalMenu .socialMedia h2 {
    color: #000 !important;
    font-size: 18px !important;
    margin: 0;
}

.globalMenu .socialMedia .devider {
    display: none;
}

.globalMenu .socialMedia .SMLinks a i {
    color: #000 !important;
    font-size: 20px !important
}

.globalMenu .socialMedia .SMLinks {
    padding: 0 5em !important;
}

.globalMenu .iconClose {
    right: 1.7em;
    top: .7em;
    position: fixed;
    font-size: 24px;
    display: none;
    z-index: 9999;
}

*[dir='rtl'] .globalMenu .iconClose {
    top: .7em;
    left: .7em;
    right: auto;
}

@media (max-width: 767px) {

    .globalMenu,
    *[dir='rtl'] .globalMenu {
        max-height: 100%;
        left: 0;
        right: 0;
        position: fixed !important;
        overflow-y: scroll !important;
        padding: .2em 1em !important;
        border: none;
        border-radius: 0;
        background: url('../../../assets/Images/backgrounds/bg-arabic-design.svg'), linear-gradient(
                131deg,
                rgba(23, 108, 66, 1) 0%,
                rgba(14, 65, 40, 1) 100%) !important;
        background-size: 250% !important;
    }

    .globalMenu a, .globalMenu .socialMedia .SMLinks a i {
        color: #ffffff !important;
    }

    .globalMenu .navItem .titleLink:after {
        content: none;
    }

    .globalMenu .navItem .listItems li {
        color: antiquewhite;
    }

    .globalMenu .navItem .titleLink,
    *[dir='rtl'] .globalMenu .navItem .titleLink {
        padding: 0 !important;
    }

    .globalMenu .socialMedia {
        border-radius: 0 !important;
        justify-content: start !important;
        border-top: 1px solid #feb400;
        padding-bottom: 5px !important;
    }

    .globalMenu .socialMedia h2 {
        display: none;
    }

    .globalMenu .socialMedia .SMLinks {
        padding: 0 !important;
        margin: 0 auto;
    }

    .globalMenu .iconClose {
        display: block;
    }
}

/* Style for viewports greater than 480px wide. */
@media (max-width: 480px) {
    .NavBar .navItem,
    .NavBar .navbarNav .callToAction {
        margin-top: 1em;
    }

    .NavBar .dropdown .navLink {
        padding: 0;
    }

    .NavBar .navbarCollapse {
        padding-bottom: 1em;
    }

    .NavBar .navbarNav {
        padding: 0;
    }

    .NavBar a#navbarDropdownMenuLink {
        text-align: center;
    }

    .menuBlog{
        height: 68px !important;
      }
    .quesAnserImg h4{
        display: none;
    }
    .inputSearch{
        width: 90% !important;
    }
    .responsiveSearch div{
        width: 96% !important;
    }
    .search{
        color: #000 !important;
    }
}

@media (max-width: 320px) {
    .logo {
        width: 80px;
    }
}

@media (max-width: 425px) {
    .logo {
        width: 100px;
    }
}

@media (max-width: 767px) {
    .NavBar .container-fluid {
        flex-wrap: nowrap;
    }

    .NavBar .navBtnSwitch {
        display: none !important;
    }

    .NavBar .menu-btn {
        min-width: 80px !important;
    }

    .NavBar .btn-faq {
        width: 100% !important;
    }

    .NavBar a {
        padding: 0 !important;
    }
}
@media screen and (max-width: 360px){
    .quesAnserImg{
        display: flex !important;
        justify-content: flex-start !important;
    }
    .quesAnserImg .linkQa{
        width: 50% !important;
    }
    .quesAnserImg .linkQa img{
        margin: 0% !important;
        padding: 0%  5% !important;
    }
    .quesAnserImg .linkQa h4{
        padding: 0%  5% !important;
    }
}
