.backToTop {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

.backToTop .iconToTop{
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.backToTop i {
  font-size: 40px; 
  color: #000000 !important;
  cursor: pointer;
}

.backToTop:hover,
.backToTop:active,
.backToTop:focus {
  color: #000000;
}
@media (max-width: 426px) {
  .backToTop {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 0px !important; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 60px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
}
@media (max-width: 777px) {
  .backToTop {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 0px !important; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 60px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
}