.TemplateArticleBody .page-title-second h3 {
    color: #000;
    font-weight: 500;
}
.CardQuestion{
    height: auto;
    border-top: solid 7px #FEB400;
    border-radius: 7px;
}
.summ {
    margin-bottom: 4%;
}
.questionList{
    width: 90%;
}
.bg1{
    width: 100% !important;
}
.sideBar1{
    width: 75%;
}
#pagination {
    color: #157BFF;
    margin: 5px;
}

*[dir='ltr'] .paginationButtons {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: right;
}

.descriptionP{
    text-decoration: none;
    text-underline-style: none;
    color: black;
}
.descriptionP:hover{
    color:#FEB400;
}

*[dir='ltr'] #paginationn {
    transform: rotate(180deg);
}


.desc p {
    font-family: 'Almarai', sans-serif !important;
    font-size: 15px;
}

.desc span {
    font-family: 'Almarai', sans-serif !important;
    font-size: 15px;
}

.dateParagraph {
    text-align: left;
    font-family: 'Almarai', sans-serif !important;
}
.pagination {
    padding:10px
}
.TemplateArticleBody .activebtn a {
    background-color: #29a669 !important;
    color: #fff !important;
    font-weight: 900 !important;
    padding:10px
}

.sideBar1 .sel .selectt {
    display: block;
    width: 100% !important;
    border: 1px solid #ced4da;
    font-size: 15px;
    color: #8e8e8e;
    background-color: white;
    padding: 2%;
    border-radius: .25rem;
}

.sideBar1 .sel .selectt > option {
    color: black;
}

.btnquestion {
    height: 50px;
    width: 20vw;
    border: none;
    border-radius: .2em;
    text-align: center;
    margin-bottom: .3em;
    position: relative;
}

.btnquestion .logo {
    position: absolute;
    left: 12%;
}

.btnquestion p {
    display: inline-block;
    padding-top: 4%;
    font-family: inherit;
    font-size: inherit;
}

@media (max-width: 685px) {
    .btnquestion {
        width: 40vw;
    }
}

@media (max-width: 430px) {
    .btnquestion {
        width: 60vw;
    }
}

@media (max-width: 370px) {
    .TemplateArticleBody {
        max-width: 100% !important;
        width: 100% !important;
        overflow: hidden;
        margin-left: 20px !important;
    }

    /*.TemplateArticleBody .sideBar1 input, button, textarea, .captcha{
        max-width: 100% !important;
        width: 95% !important;
    }*/
    .captcha {
        max-width: 100% !important;
        width: 95% !important;
    }

    .TemplateArticleBody .searchInp {
        width: 90% !important;
    }

    .TemplateArticleBody .searchBtn {
        width: 8% !important;
        margin-right: 2% !important;
        margin-left: 2% !important;
    }
}

@media (max-width: 480px) {
    .bg1 div h5 {
        margin-top: 2% !important;
        text-align: center !important;
    }

    .TemplateArticleBody .searchInp {
        width: 98% !important;
    }

    .TemplateArticleBody .searchBtn {
        width: 20% !important;
        margin-right: 5%;
    }

    .TemplateArticleBody .activebtn a {
        padding: 0px 15px 6px !important;
        margin: 7px 0px !important;
        font-weight: normal !important;
    }

    .TemplateArticleBody .paginationButtons li {
        /* padding: 1px 15px 6px !important; */
        margin: 0px !important;
        padding: 0px !important;
    }

    .TemplateArticleBody .paginationButtons {
        width: 80% !important;
    }

    .descriptionP{
        width: 80% !important;
    }
   
    .questionList{
        width: 100% !important;
    }
    .cardListAnswer{
        width: 100% !important;
    }
}
.btnFacebook {
    width: 65px;
    height:45px;
    border-radius: 4px;
    background: #3b5998;
    color:white;
    border:0px transparent;
    text-align: center;
    margin-right:5px;
    display: inline-block;
}
